

<!--<div class="d-flex justify-content-center h-100">-->
<!--  <div class="login-container">-->
<!--    <div class="d-flex justify-content-center">-->
<!--      <div class="brand_logo_container">-->
<!--        <img src="assets/freedoms-path-logo-trans.png" class="brand_logo" alt="Logo">-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="input-group mb-3">-->
<!--      <div class="input-group-append">-->
<!--        <span class="input-group-text"><span class="material-icons">person</span></span>-->
<!--      </div>-->
<!--      <input type="text" name="" class="form-control input_user" value="" placeholder="username">-->
<!--    </div>-->
<!--    <div class="input-group mb-3">-->
<!--      <div class="input-group-append">-->
<!--        <span class="input-group-text"><span class="material-icons">https</span></span>-->
<!--      </div>-->
<!--      <input type="password" name="" class="form-control input_user" value="" placeholder="password">-->
<!--    </div>-->
<!--    <button type="button" name="button" class="btn login_btn">Login</button>-->
<!--  </div>-->

  <div class="container h-100">
    <div class="d-flex justify-content-center h-100">
      <div class="user_card">
        <div class="d-flex justify-content-center">
          <div class="brand_logo_container">
            <img src="assets/freedoms-path-logo-trans.png" class="brand_logo" alt="Logo">
          </div>
        </div>
        <div class="d-flex justify-content-center form_container">
          <form>
            <div class="input-group mb-3">
              <div class="input-group-append">
                <span class="input-group-text"><span class="material-icons">person</span></span>
              </div>
              <input #username type="text" name="" class="form-control input_user" value="" placeholder="username">
            </div>
            <div class="input-group mb-2">
              <div class="input-group-append">
                <span class="input-group-text"><span class="material-icons">https</span></span>
              </div>
              <input #password type="password" name="" class="form-control input_pass" value="" placeholder="password">
            </div>
            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customControlInline">
                <label class="custom-control-label" for="customControlInline">Remember me</label>
              </div>
            </div>
            <div class="d-flex justify-content-center mt-3 login_container">
              <button type="submit" name="button" (click)="login(username.value,password.value)" class="btn login_btn">Login</button>
            </div>
          </form>
        </div>

        <div class="mt-4">
          <div class="d-flex justify-content-center links">
            Don't have an account? <a href="#" class="ml-2">Sign Up</a>
          </div>
          <div class="d-flex justify-content-center links">
            <a href="#">Forgot your password?</a>
          </div>
        </div>
      </div>
    </div>
  </div>


















<!--<!doctype html>-->
<!--<html lang="en">-->

<!--<body>-->
<!--<h2>Login</h2>-->
<!--<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">-->
<!--  <div class="form-group">-->
<!--    <label for="username">Username</label>-->
<!--    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />-->
<!--    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">-->
<!--      <div *ngIf="f.username.errors.required">Username is required</div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <label for="password">Password</label>-->
<!--    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />-->
<!--    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">-->
<!--      <div *ngIf="f.password.errors.required">Password is required</div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <button [disabled]="loading" class="btn btn-danger">-->
<!--      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>-->
<!--      Login-->
<!--    </button>-->
<!--    <a routerLink="/register" class="btn btn-link">Register</a>-->
<!--  </div>-->
<!--</form>-->

<!--</body>-->
<!--</html>-->

